# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Supabase - Archivos sensibles
src/lib/supabase.ts
**/supabase.ts
**/supabase.js

# IDE
.vscode/
.idea/
*.swp
*.swo
client-browser.ts
client-server.ts
middleware.ts
# OS
Thumbs.db
